<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <property name="connection.datasource">java:/comp/env/jdbc/CheckersDS</property>
        <property name="show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="configClass">org.hibernate.cfg.AnnotationConfiguration</property>
        <!--<property name="hibernate.hbm2ddl.auto">create</property>-->
        <property name="current_session_context_class">thread</property>

        <mapping class="com.mycompany.checkersserver.entity.User"/>
        <mapping class="com.mycompany.checkersserver.entity.Game"/>
        <mapping class="com.mycompany.checkersserver.entity.Move"/>        
        
    </session-factory>
</hibernate-configuration>